h1, h2, h3, h4 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.github-corner svg {
    z-index: 2;
}

.app-nav {
    margin: 0 0 0 0;
    padding: 25px 80px 0 25px;
    position: fixed;
    right: 0;
    left: 23%;
    text-align: right;
    z-index: 1;
    /*background-color: white;*/
}

.close .app-nav {
    left: 10%;
}

.markdown-section {
    max-width: 80%;
}

.close {
    float: right;
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
    color: rgb(0, 0, 0);
    opacity: 1;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    opacity: 1;
}

div p {
  border-radius: 4px;
}

.t-alien-center {
  text-align: center;
}

p img, ul img {
  max-width: 100vh;
}

.bs-sidebar {
  max-height: 80vh;
  overflow-y: auto;
}

ul.nav li.second-level {
    padding-left: 12px;
}

ul.nav li.third-level {
    padding-left: 24px;
}

.container {
    width: 90%;
}

.bs-example-bg-classes p {
    padding: 15px;
}
.bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #286090;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover,
a.bg-success:focus {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover,
a.bg-info:focus {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #e4b9b9;
}

.admonition {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
}

.admonition.note { /* csslint allow: adjoining-classes */
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.admonition.warning { /* csslint allow: adjoining-classes */
    color: #272727;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.admonition.danger { /* csslint allow: adjoining-classes */
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.admonition-title {
    margin: 5px !important;
    font-weight: bold;
    text-align: left;
}


/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
    margin-top: -5px;
}

/* Variations */
.bs-callout-danger {
    border-left-color: #ce4844;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout-warning h4 {
    color: #aa6708;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout-info h4 {
    color: #1b809e;
}

kbd kbd {
    padding: 0;
    font-size: 100%;
    font-weight: 700;
    -webkit-box-shadow: none;
    box-shadow: none;
}
kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}